@font-face {
  font-family: "studio";
  src: url(/studio-pro-regular-webfont.woff);
}

:root {
  --studio-font: "studio";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  font-family: var(--studio-font);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem 0 3rem;
}

.logo {
  width: 300px;
  height: auto;
}

.nav-items {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.shop-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 5rem 3rem 0 3rem;
}

.shop-item {
  border: 1px dotted #949494;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.img-container {
  height: 450px;
}

.shop-item-img {
  width: auto;
  height: 100%;
  object-fit: contain;
  display: block;
}